@import "tailwindcss";

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, -14px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}


@keyframes appear {
  0% {
    transform: translate( 0px, 15px);
    opacity: 0%;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 100%;
  }
}

.appear {
  animation: appear 0.5s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(0.90);
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

.zoom {
  animation: zoom 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 245, 245);
}